:root {
  --color-button: rgb(45, 11, 45);
  --color-button-hover: blueviolet;
  --color-button-text: white;
  --color-after-text: grey;
}

* {
  font-size: 21px;
}

header {
  width: 100%;
  height: 75px;
  padding: 0 20px;
  margin-bottom: 50px;
}

h1, h2 {
  font-size: 2rem;
}

/* Basic class */
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.just-between {
  justify-content: space-between;
}
.just-even {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.alignSelf-end {
  align-self: flex-end;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}

/* Class Selector */
#startingCard {
  /* border: 2px solid black; */
  width: 60%;
}

#startingCard p {
  margin: 20px 0;
}

.answer-list {
  background-color: darksalmon;
  min-height: 300px;
}

.isNotDisplay {
  display: none;
}

.button {
  background-color: var(--color-button);
  color: var(--color-button-text);
  min-width: 200px;
  min-height: 50px;
  border-radius: 7px;
  border-style: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-button-hover);
}

.ans {
  padding-left: 10px;
}

#questionCard {
  border: 2px solid;
  width: 70%;
  margin: 0 23% 0 30%;
}

#questionCard::after {
  content: "Wrong!";
  font-size: 1.8rem;
  font-style: italic;
  color: var(--color-after-text);
}